# Data Cleaning

2020 Jersey City data was chosen for this project due to the limitations of the free Tableau version that was used. Citi Bike data is separated by month, so the first steps are to combine the data, then clean it up if needed.

### Import and Combine CSV files*

Step 1: Import packages and set the working directory

In [1]:
import os
import glob
import pandas as pd
os.chdir("./data")

Step 2: Use glob to match the pattern ‘csv’

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

Step 3: Combine all files in the list and export as CSV

In [3]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv("../data_cleaned/combined_csv.csv", index=False, encoding='utf-8-sig')

In [4]:
combined_csv

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,156,2020-10-01 00:02:40.2600,2020-10-01 00:05:17.0140,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,42293,Subscriber,1996,1
1,143,2020-10-01 00:02:53.5020,2020-10-01 00:05:16.9650,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44740,Subscriber,1998,1
2,305,2020-10-01 00:04:31.3160,2020-10-01 00:09:36.3840,3273,Manila & 1st,40.721651,-74.042884,3269,Brunswick & 6th,40.726012,-74.050389,41369,Subscriber,1988,2
3,1097,2020-10-01 00:05:18.3680,2020-10-01 00:23:36.1240,3199,Newport Pkwy,40.728745,-74.032108,3281,Leonard Gordon Park,40.745910,-74.057271,42285,Customer,2001,1
4,277,2020-10-01 00:09:17.5990,2020-10-01 00:13:55.5150,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,45231,Subscriber,1965,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53828,270,2020-10-13 15:05:35.0860,2020-10-13 15:10:05.3430,3207,Oakland Ave,40.737604,-74.052478,3640,Journal Square,40.733670,-74.062500,44744,Subscriber,1963,2
53829,400,2020-10-13 15:09:03.4890,2020-10-13 15:15:43.9750,3209,Brunswick St,40.724176,-74.050656,3209,Brunswick St,40.724176,-74.050656,45345,Subscriber,1984,1
53830,206,2020-10-13 15:11:34.3500,2020-10-13 15:15:00.5030,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,47019,Subscriber,1993,1
53831,216,2020-10-13 15:11:49.1510,2020-10-13 15:15:25.6930,3195,Sip Ave,40.730897,-74.063913,3225,Baldwin at Montgomery,40.723659,-74.064194,42191,Subscriber,1966,1
53832,418,2020-10-13 15:12:31.7920,2020-10-13 15:19:30.5280,3267,Morris Canal,40.712419,-74.038526,3186,Grove St PATH,40.719586,-74.043117,47255,Subscriber,1991,1

In [5]:
combined_csv.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [6]:
# rename columns for easier manipulation later
combined_csv.rename(columns={'tripduration': "trip_duration_secs",
                             'starttime': "start_time", 
                             'stoptime': "stop_time", 
                             'start station id': "start_station_id",
                             'start station name': "start_station_name",
                             'start station latitude': "start_station_latitude",
                             'start station longitude': "start_station_longitude", 
                             'end station id': "end_station_id", 
                             'end station name': "end_station_name",
                             'end station latitude': "end_station_latitude",
                             'end station longitude': "end_station_longitude",
                             'bikeid': "bike_id",
                             'usertype': "user_type",
                             'birth year': "birth_year",
                             'gender': "gender"},
                             inplace=True)
combined_csv.columns

Index(['trip_duration_secs', 'start_time', 'stop_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'birth_year', 'gender'],
      dtype='object')

In [7]:
combined_csv.isnull().sum()

trip_duration_secs         0
start_time                 0
stop_time                  0
start_station_id           0
start_station_name         0
start_station_latitude     0
start_station_longitude    0
end_station_id             0
end_station_name           0
end_station_latitude       0
end_station_longitude      0
bike_id                    0
user_type                  0
birth_year                 0
gender                     0
dtype: int64

In [8]:
combined_csv.dtypes

trip_duration_secs           int64
start_time                  object
stop_time                   object
start_station_id             int64
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id               int64
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bike_id                      int64
user_type                   object
birth_year                   int64
gender                       int64
dtype: object

In [9]:
combined_csv.describe()

,trip_duration_secs,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,birth_year,gender
count,3.368020e+05,336802.000000,336802.000000,336802.000000,336802.000000,336802.000000,336802.000000,336802.000000,336802.000000,336802.000000
mean,1.574705e+03,3304.137674,40.722216,-74.046752,3302.784636,40.721736,-74.045932,40637.772976,1981.299158,1.096796
std,1.802477e+04,184.598023,0.007351,0.011905,190.109433,0.099504,0.180828,6069.500533,11.046780,0.630384
min,6.100000e+01,3184.000000,40.709651,-74.083639,82.000000,0.000000,-74.083639,14531.000000,1888.000000,0.000000
25%,3.260000e+02,3195.000000,40.716870,-74.051789,3195.000000,40.716870,-74.050656,42141.000000,1969.000000,1.000000
50%,6.150000e+02,3209.000000,40.721124,-74.043991,3209.000000,40.721124,-74.043845,42373.000000,1984.000000,1.000000
75%,1.416000e+03,3276.000000,40.727224,-74.037683,3276.000000,40.727224,-74.037683,43543.000000,1990.000000,2.000000
max,3.261756e+06,3792.000000,40.748716,-74.032108,4071.000000,40.848282,0.000000,49734.000000,2004.000000,2.000000

In [10]:
# check how many 0's in "end station latitude", which are anomalies
end_station_lat0 = (combined_csv["end_station_latitude"] == 0).sum()
end_station_lat0

2

In [11]:
combined_csv = combined_csv[combined_csv.end_station_latitude != 0]

In [12]:
combined_csv.shape

(336800, 15)

In [13]:
combined_csv.describe()

,trip_duration_secs,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,birth_year,gender
count,3.368000e+05,336800.000000,336800.000000,336800.000000,336800.000000,336800.000000,336800.000000,336800.000000,336800.000000,336800.000000
mean,1.574711e+03,3304.136868,40.722216,-74.046752,3302.783613,40.721978,-74.046371,40637.760392,1981.299083,1.096796
std,1.802483e+04,184.597236,0.007351,0.011905,190.109534,0.007344,0.011856,6069.514542,11.046767,0.630386
min,6.100000e+01,3184.000000,40.709651,-74.083639,82.000000,40.674181,-74.083639,14531.000000,1888.000000,0.000000
25%,3.260000e+02,3195.000000,40.716870,-74.051789,3195.000000,40.716870,-74.050656,42141.000000,1969.000000,1.000000
50%,6.150000e+02,3209.000000,40.721124,-74.043991,3209.000000,40.721124,-74.043845,42373.000000,1984.000000,1.000000
75%,1.416000e+03,3276.000000,40.727224,-74.037683,3276.000000,40.727224,-74.037683,43543.000000,1990.000000,2.000000
max,3.261756e+06,3792.000000,40.748716,-74.032108,4071.000000,40.848282,-73.936521,49734.000000,2004.000000,2.000000

In [14]:
# removing riders over 100 years old (likely anomalies)
over_100 = (combined_csv["birth_year"] < 1920).sum()
over_100

20

In [15]:
combined_csv = combined_csv[combined_csv.birth_year >= 1920]

In [16]:
combined_csv.shape

(336780, 15)

In [17]:
combined_csv.describe()

,trip_duration_secs,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,birth_year,gender
count,3.367800e+05,336780.000000,336780.000000,336780.000000,336780.000000,336780.000000,336780.000000,336780.000000,336780.000000,336780.000000
mean,1.574792e+03,3304.140617,40.722216,-74.046752,3302.784607,40.721978,-74.046372,40638.316444,1981.304552,1.096856
std,1.802536e+04,184.600472,0.007351,0.011905,190.111470,0.007344,0.011856,6069.112948,11.024236,0.630354
min,6.100000e+01,3184.000000,40.709651,-74.083639,82.000000,40.674181,-74.083639,14531.000000,1920.000000,0.000000
25%,3.260000e+02,3195.000000,40.716870,-74.051789,3195.000000,40.716870,-74.050656,42141.000000,1969.000000,1.000000
50%,6.150000e+02,3209.000000,40.721124,-74.043991,3209.000000,40.721124,-74.043845,42373.000000,1984.000000,1.000000
75%,1.416000e+03,3276.000000,40.727224,-74.037683,3276.000000,40.727224,-74.037683,43543.000000,1990.000000,2.000000
max,3.261756e+06,3792.000000,40.748716,-74.032108,4071.000000,40.848282,-73.936521,49734.000000,2004.000000,2.000000

In [32]:
# exploring trip_duration_secs and converting to days shows the top ride was over 37 days, which seems
# unreasonable, but not impossible, so I cannot remove any data on this basis in good conscience
combined_csv['trip_duration_secs'].nlargest(n=1000)

6603     3261756
10011    3076192
1472     2423337
4313     2068550
2343     2056977
          ...
20911      19213
3959       19207
3577       19180
30741      19065
9101       19024
Name: trip_duration_secs, Length: 1000, dtype: int64

In [34]:
combined_csv

,trip_duration_secs,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,156,2020-10-01 00:02:40.2600,2020-10-01 00:05:17.0140,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,42293,Subscriber,1996,1
1,143,2020-10-01 00:02:53.5020,2020-10-01 00:05:16.9650,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44740,Subscriber,1998,1
2,305,2020-10-01 00:04:31.3160,2020-10-01 00:09:36.3840,3273,Manila & 1st,40.721651,-74.042884,3269,Brunswick & 6th,40.726012,-74.050389,41369,Subscriber,1988,2
3,1097,2020-10-01 00:05:18.3680,2020-10-01 00:23:36.1240,3199,Newport Pkwy,40.728745,-74.032108,3281,Leonard Gordon Park,40.745910,-74.057271,42285,Customer,2001,1
4,277,2020-10-01 00:09:17.5990,2020-10-01 00:13:55.5150,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,45231,Subscriber,1965,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53828,270,2020-10-13 15:05:35.0860,2020-10-13 15:10:05.3430,3207,Oakland Ave,40.737604,-74.052478,3640,Journal Square,40.733670,-74.062500,44744,Subscriber,1963,2
53829,400,2020-10-13 15:09:03.4890,2020-10-13 15:15:43.9750,3209,Brunswick St,40.724176,-74.050656,3209,Brunswick St,40.724176,-74.050656,45345,Subscriber,1984,1
53830,206,2020-10-13 15:11:34.3500,2020-10-13 15:15:00.5030,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,47019,Subscriber,1993,1
53831,216,2020-10-13 15:11:49.1510,2020-10-13 15:15:25.6930,3195,Sip Ave,40.730897,-74.063913,3225,Baldwin at Montgomery,40.723659,-74.064194,42191,Subscriber,1966,1
53832,418,2020-10-13 15:12:31.7920,2020-10-13 15:19:30.5280,3267,Morris Canal,40.712419,-74.038526,3186,Grove St PATH,40.719586,-74.043117,47255,Subscriber,1991,1

In [33]:
combined_csv.to_csv("../data_cleaned/combined_csv.csv", index=False, encoding='utf-8-sig')

*Credit to FreeCodeCamp.org for code to combine multiple csv files:\
https://www.freecodecamp.org/news/how-to-combine-multiple-csv-files-with-8-lines-of-code-265183e0854/